body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 200;
	color: #4C4A4B;
	background: #F1F1F1;
}

h1, h2, h3, h4
{
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-weight: 300;
}

h1{ font-size: 24px; }
h2{ font-size: 20px; }
h3{ font-size: 18px; font-weight: bold; }
h4{ font-size: 16px; }

p {
	margin-bottom: 25px;
}
p.lead {
	font-weight: bold;
	margin-top: 25px;
}

hr {
	height: 5px;
	border: 0px;
	background: url(../img/hr.gif) no-repeat;
	margin-top: 0px;
	margin-bottom: 20px;
}

/*------------------------------------------------------------------------------------ Overlay Mensajes */
.overlay { background: #000; opacity: 0.5; filter: alpha(opacity=50); position: fixed; top:0; bottom: 0; left: 0; right: 0; z-index: 1000; }
.msg_cover { position: fixed; top:50%; left:50%; width: 300px; height: 150px; margin: -75px 0 0 -150px; background: #FFF; z-index: 1001; -moz-box-shadow: 2px 2px 25px rgba(0,0,0,0.5); -webkit-box-shadow: 2px 2px 25px rgba(0,0,0,0.2); -ms-box-shadow: 2px 2px 25px rgba(0,0,0,0.2); box-shadow: 2px 2px 25px rgba(0,0,0,0.5); text-align: center; }
.msg_cover .title { font-size: 22px; line-height: 24px; margin: 0 0 15px 0; }
.msg_cover .content { padding: 20px; }
/*------------------------------------------------------------------------------------ Errores y alertas */
.error_404, .error_500 { margin:50px 0; padding: 10px 0; border-top: 1px solid #E8E8E8; border-bottom: 1px solid #E8E8E8; background: url(../img/quickdev/bg_404.png) right center no-repeat; }
.error_500 { background: url(../img/quickdev/bg_500.png) right center no-repeat; }


/*------------------------------------------------------------------------------------ Header */
#header
{
	background: #CCC;
}

.header-mobile { background: #000; padding: 8px; height: 30px;}

.menu-list { list-style: none; margin: 0; padding: 0; }
.menu-list li { float:left; }
.menu-list .menu-sublist { display: none; }
.menu-item {
	display: block;
	font-weight: 600;
	color: #FFF;
	padding: 60px 20px 20px 20px;
	font-size: 13px;
	/*text-shadow: 1px 1px 0 #000;*/
}
.mobile .menu-item { padding: 10px; }
.menu-item[href="#tour"] { background-color: #DA4940; }
.menu-item[href="#programa"] { background-color: #4D8CF6; }
.menu-item[href="#speakers"] { background-color: #0A9953 }
.menu-item[href="#sponsors"] { background-color: #F8C63F; }
.menu-item[href="#colaboradores"] { background-color: #4C4A4B; }
.menu-item:hover { color: #FFF; text-decoration: none; }
.menu-item:focus, .menu-item.active { outline: none; }
.menu-item.active {
	background-image: url('../img/menu-item.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

.menu-logo { background: url(../img/logo.png) no-repeat; height: 0; width: 450px;
	position: absolute; padding-top: 140px; overflow: hidden; margin: 0;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.menu-logo.compact {
	padding-top: 84px;
	margin-top: -14px;
}

/*------------------------------------------------------------------------------------ Contenido */
#content
{
	overflow: auto;
	transition: background-position 0.5s ease;
	-webkit-transition: background-position 0.5s ease;
	-moz-transition: background-position 0.5s ease;
	-o-transition: background-position 0.5s ease;
}
.mobile
{
	padding: 0 !important;
}

.visor { overflow: hidden;}
.mobile .visor { padding: 0 15px; }

h2.title {
	width: 750px;
	padding: 30px 0px 30px 30px;
	line-height: 30px;
	background-color: #000;
	color: #fff;
	font-size: 40px;
	background-image: url(../img/bkg_titles.gif);
	background-repeat: no-repeat;
	background-position: right;
}

#tour h2.title {
	background-color: #DA4940;
	background-position-y: 0px;
}
#programa h2.title {
	background-color: #4D8CF6;
	background-position-y: -90px;
}
#speakers h2.title {
	background-color: #0A9953;
	background-position-y: -180px;
}
#sponsors h2.title {
	background-color: #F8C63F;
	background-position-y: -270px;
}
#colaboradores h2.title {
	background-color: #4C4A4B;
	background-position-y: -360px;
}

#tour h3,
#programa h3 {
	font-size: 25px;
	font-weight: 600;
}

.table td.text-center,
#sponsors .row-fluid div[class*="span"],
#colaboradores .row-fluid div[class*="span"] {
	text-align: center;
}

#sponsors .row-fluid,
#colaboradores .row-fluid {
	margin-bottom: 30px;
}

#speakers .row-fluid img.img-rounded {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#speakers h4 {
	font-size: 26px;
	font-weight: bold;
	color: #0A9953;
	line-height: 36px;
	border-bottom: 1px solid #0A9953;
}
#speakers h4 em {
	color: #666;
	font-size: 20px;
}

#speakers .row-fluid img.img-polaroid,
#colaboradores img.img-polaroid {
	padding: 10px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);	
}

#colaboradores h5,
#colaboradores h5 small {
	font-size: 15px;
}

/*------------------------------------------------------------------------------------ Pie */
.footer {
	line-height: 48px;
	padding-bottom: 5px;
	font-size: 14px;
}

.footer hr {
	height: 65px;
	border: 0px;
	background: url(../img/footer.png) no-repeat center center;
	margin-top: 0px;
	margin-bottom: 10px;
}

.img-social {
	height: 48px;
	width: 48px;
	display: inline-block;
	background: url(../img/social.png) no-repeat;
	content: "";
}

.img-social.twitter {
	background-position: 0px 0px;
}
.img-social.facebook {
	background-position: -48px 0px;
}
.img-social.googleplus {
	background-position: -96px 0px;
}


/*--------------------------------------------------------------------------------------- tweetViewer */
#tweetViewer
{
	height: 500px;
	overflow: hidden;
}

.tweet_list
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.tweet_even
{
	text-align: left;
	margin-top:-8px;
}
.tweet_odd
{
	text-align: right;
	margin-top:-8px;
}

.tweet_time, .tweet_join, .tweet_text
{
	display: none;
}